@{
    var item = Sitecore.Context.Database.GetItem("{7BF429C2-90E6-48A6-B90C-947DE7183E25}");
}
<div class="col-sm-12">
    <header>
        <div class="container">
            <div class="jumbotron text-white bg-primary">
                <h1 class="display-3">@Html.Sitecore().Field("HeaderTitle", item)</h1>
                <p class="lead">@Html.Sitecore().Field("HeaderSubtitle", item)</p>
            </div>
        </div><!-- /.container -->
    </header>
</div>
